* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    
    border: 0;
    
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.title {
    padding: 1.25rem 0;

    font-weight: bold;
    font-size: 1.5625rem;
}

.section_title > h2 {
    padding: 0.5rem 0;

    font-weight: bold;
    font-size: 1.25rem;
}

body {
    width: 100%;
    margin: 0;
}

.top_button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 3.125rem;
    bottom: 3.125rem;
    z-index: 999;

    width: 1.875rem;
    height: 1.875rem;

    border: 1px solid black;
    border-radius: 999px;
}

.top_button img {
    width: 1.125rem;
    height: 1.125rem;
    object-fit: cover;
}

header {
    background-color: mediumspringgreen;

    text-align: center;
}

header h2 {
    padding: 0.9375rem 0;
}

.preview_section {
    display: flex;
    column-gap: 0.9375rem;

    width: 100%;
    padding: 2.5rem;
    margin-bottom: 0.9375rem;

    background-color: beige;

    overflow: auto;
    white-space: nowrap;
}

.preview_section img {
    flex: 0 0 auto;

    width: 16.875rem;
    height: 25rem;
}

nav {
    padding: 3.125rem 0;
    margin-bottom: 0.9375rem;

    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

    background-color: beige;

    text-align: center;
}

nav ul {
    display: flex;

    padding: 0;

    list-style-type: none;
}

.nav_title {
    font-size: 1.5625rem;
    font-weight: 600;
}

.nav_list {
    display: flex;
    justify-content: center;
    column-gap: 1.875rem;

    margin-top: 1.875rem;
}

.nav_item {
    text-decoration: none;
}

.nav_item:hover {
    color: teal;
    text-decoration: underline;

    cursor: pointer;
}

.image_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_title {
    position: sticky;
    top: 0;
    z-index: 3;

    width: 100%;
    padding-left: 3.125rem;

    background-color: mediumspringgreen;
}

.section_title h3 {
    margin: 0.625rem 0;
}

.section_1_image_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 1.25rem;

    width: 100vw;
    margin: 3.125rem 0;
}

.section_1_image_box {
    display: flex;
    justify-content: center;

    position: relative;

    width: 16.4375rem;
    height: 16.4375rem;
    
    text-align: center;

    transition: background-color 0.5s, transform 0.3s;
}

.section_1_image_box > img {
    position: relative;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_title {
    display: none;

    position: absolute;
    top: 5.5rem;

    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.image_content {
    display: none;

    position: absolute;
    top: 9rem;

    width: 80%;

    color: white;
    font-size: 1rem;
    word-break: keep-all;
}


.section_2_image_container {
    display: flex;
    column-gap: 1.25rem;

    width: 68.75rem;
    margin: 3.125rem 0;
}

.section_2_image_container_left {
    flex: 0 0 auto;

    width: 33.75rem;
    height: 33.75rem;
}

.section_2_image_container_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_2_image_container_right {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 0.9375rem;
    justify-content: space-between;
}

.section_2_image_container_right img {
    width: 16.4375rem;
    height: 16.4375rem;
}

.section_3_image_container {
    display: grid;
    grid-template-rows:  repeat(4, 25%);
    grid-template-columns: repeat(4, 25%);
    gap: 0.625rem;

    width: 68.75rem;
    height: 33.75rem;
    margin: 3.125rem 0;
}

.item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}
.item:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.item:nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.item:nth-child(4) {
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
}

.item:nth-child(5) {
    grid-column: 4 / span 1;
    grid-row: 3 / span 2;
}

footer {
    height: 6.25rem;
    line-height: 6.25rem;

    background-color: beige;

    text-align: center;
}

footer > p {
    font-size: 1.25rem;
    font-weight: bold;
}